*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:'Poppins', sans-serif;
  background:#0F0F11;
  color:#F4F4F5;
  overflow-x:hidden;
}

/* BACKGROUND BLUR */

.blur{
  position:fixed;
  width:500px;
  height:500px;

  background:#3B82F6;

  filter:blur(180px);

  opacity:0.2;

  top:-100px;
  right:-100px;

  z-index:-1;
}

/* HERO */

.hero{
  min-height:100vh;

  display:flex;
  justify-content:space-between;
  align-items:center;

  padding:0 10%;

  flex-wrap:wrap;
}

.hero-text{
  max-width:550px;
}

.tag{
  background:rgba(255,255,255,0.08);

  padding:8px 18px;

  border-radius:30px;

  font-size:0.9rem;
}

.hero h1{
  font-size:4rem;
  margin:25px 0;
}

.hero p{
  color:#B3B3B3;
  line-height:1.8;
  margin-bottom:35px;
}

/* BUTTON */

.buttons{
  display:flex;
  gap:15px;
}

.btn{
  text-decoration:none;
  padding:15px 30px;
  border-radius:15px;

  transition:0.3s;
}

.primary{
  background:#3B82F6;
  color:white;
}

.primary:hover{
  transform:translateY(-3px);
  box-shadow:0 0 20px rgba(59,130,246,0.4);
}

.secondary{
  border:1px solid rgba(255,255,255,0.1);
  color:white;
}

/* PHONE */

.phone img{
  width:300px;

  filter:drop-shadow(0 0 30px rgba(59,130,246,0.3));
}

/* FEATURES */

.features{
  padding:100px 10%;
}

.features h2{
  margin-bottom:40px;
  font-size:2.5rem;
}

.feature-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:25px;
}

.card{
  background:#18181B;

  padding:30px;

  border-radius:24px;

  transition:0.3s;

  border:1px solid rgba(255,255,255,0.05);
}

.card:hover{
  transform:translateY(-5px);

  border:1px solid rgba(59,130,246,0.3);
}

.card i{
  font-size:2rem;
  margin-bottom:20px;
  color:#3B82F6;
}

.card h3{
  margin-bottom:10px;
}

/* STACK */

.tech-stack{
  padding:50px 10%;
}

.tech-stack h2{
  margin-bottom:30px;
}

.stack-container{
  display:flex;
  gap:15px;
  flex-wrap:wrap;
}

.stack-container span{
  padding:12px 22px;

  border-radius:30px;

  background:#18181B;

  border:1px solid rgba(255,255,255,0.08);
}

/* JOURNEY */

.journey{
  padding:100px 10%;
}

.journey-card{
  background:#18181B;

  padding:50px;

  border-radius:30px;

  text-align:center;

  border:1px solid rgba(255,255,255,0.08);
}

.journey-card h2{
  margin-bottom:25px;
}

.journey-card p{
  line-height:2;
  color:#B3B3B3;
}

/* FOOTER */

footer{
  text-align:center;
  padding:40px;
  color:#8F8F8F;
}

/* RESPONSIVE */

@media(max-width:900px){

  .hero{
    flex-direction:column;
    justify-content:center;
    text-align:center;

    gap:50px;

    padding-top:100px;
  }

  .buttons{
    justify-content:center;
  }

  .hero h1{
    font-size:3rem;
  }

}
